language: node_js
node_js:
- '8'
branches:
  only:
  - master
deploy:
  provider: heroku
  api_key:
    secure: "bnIcyc4L2c38DrLUK2b+tZGMzHK5XCJ5t5CTWj9Y2UpwzEicJdisK2crYNV5EJ3lh+d8hpPq0SZ6yUFRndefYGlH5J/4kOgFIASxm1GuwaX/AR7PMyLO0x+ldigNfpVB+6nkFqtPW+83sOlOEKFd1T6Qoh4BaZjrQnNG9cVlJbsl/HWhMVRWWBEyphpEJXqfOw2zi2y/vlzhRSjM6hgi9A87cG0KL5PXN8+X86A1S7riBVltyZxOJn5qSjr3SwxC7XQwjsgYjBscGS4LnZ1jkSgjAWcXSzz05FgqJbg3+1TIYUs8uMtzAV2FCzJL/nOIhYn5AXV/rnsZSX3FpkcRcMfejE5DmWbNuYeXNSUsAhR38qnm8NTsboi57LaHx8OqJkXYa6JllQpnepcKwG4ycQoqL2kAKcBQHP7OMtfmZ3dq2gMU3mbFuWedK+urCTZXmUbTgzZ5HkADP3AjLwF39X1bwOae7pequ3rqo+XhxOKhs0QsIDkLsIhmnATKQjnB+gBvRJlNMtJCuZY1qMzwv9Wlo79uHKL3CJNlfaje5hvuoelxrXbJmo0AAX9OPXYbbqB+QamPSuxJRYEZ1jFp3ysWq+knxsd0kLuELDyMqSHNM9nXguCpEOPfLrPUznK8hxHFcrhd2GFsdRKTXV9QnCkfnL89mvt9MBpGQeQJk50="
app: pokedexrn-api 